<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shareable Link</title>
</head>
<body>
    <h1>Your Tracking Link</h1>
    <p>Share this link: <a href="<%= shareLink %>" target="_blank"><%= shareLink %></a></p>
    <p>View logs: <a href="<%= logsLink %>" target="_blank"><%= logsLink %></a></p>
</body>
</html>
